name: malAIria # You can also change this to another name to avoid warning with existing group. 
services:
  backend:
    container_name: ml-backend
    build: ./backend
    ports:
      - ${PORT}:3000
    networks:
      - ml-net
    environment:
      # - POSTGRES_DB=${POSTGRES_DB}
      # - POSTGRES_PORT=${POSTGRES_PORT}
      # - POSTGRES_HOST=${POSTGRES_HOST}
      # - POSTGRES_APP_USER=${POSTGRES_APP_USER}
      # - POSTGRES_APP_PASSWORD=${POSTGRES_APP_PASSWORD}
      DATABASE_URL: ${DATABASE_URL}
    command: sh -c "npx prisma generate && npm run start"

  
  postgres:
    image: postgres:16-alpine
    container_name: ml-db
    ports:
      - 5432:${POSTGRES_PORT}
    volumes:
      - ml-data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - ml-net
    restart: always


volumes:
  ml-data:

networks:
  ml-net: # Check by using `docker network ls` command
    # external: true

    